# Получить на https://developer.spotify.com/dashboard
# В настройках приложения добавь Redirect URI: http://127.0.0.1:8888/callback
SPOTIFY_CLIENT_ID=00000000000000000000000000
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
